/*Classes*/
.caixa {
   width: 42.553191489362%; /* 264px / 1128px */
   padding: 2.4em 4em 2.4em 4em;
   position: absolute;
   top: 48px;
}
.banner {
   background: url('codigo davinci.jpg') no-repeat;
   height: 450px;
   margin-bottom: 4.8em;
   margin-top: 15px;
   position: relative;
   background-size:cover;
   border-radius:15px;
  
}

/*IDs*/